/* Footer */
footer {
  color: #999; /* Simon: Todo: Move to _global-variables */
  font-size: .8em;
  margin: 40px;

  .content {
    display: inline;
  }

  a {
    color: #777;  /* Simon: Todo: Move to _global-variables */
    margin-left: 30px;

    &:visited {
      color: #777;  /* Simon: Todo: Move to _global-variables */
    }

    &:hover {
      color: #6a6a6a;  /* Simon: Todo: Move to _global-variables */
    }
  }

}