//320px — 480px: Mobile devices
//481px — 768px: iPads, Tablets
//769px — 1024px: Small screens, laptops
//1025px — 1200px: Desktops, large screens
//1201px and more — Extra large screens, TV

@media screen and (max-width: 1400px) { //below 1400px
  html.mm-opened  .parent-container {
    margin: 0;
    max-width: 100%;
  }

}

@media screen and (max-width: 1025px) { //below 930px
  header {
    div.slogan {

      p,
      h1 {
        font-size: 4.3vw;
      }
    }
  }
}
@media screen and (max-width: 975px) { //below 930px
  header {
    div.slogan {

      p,
      h1 {
        //font-size: 2.4em;
      }
    }
  }
}

@media screen and (max-width: 810px) { //below 810px
}

@media screen and (max-width: 600px) { //below 600px
  header {
    a.logo {
      margin: 17% auto 0;
      width: 98%;
    }

    div.slogan {
      min-height: 205px;

      p,
      h1 {
        font-size: 1.8em;
        margin: 2% 0;

        &:after {
          content: '.';
        }

        span {
          display: none;
        }
      }
    }
  }

  section.main {
    min-height: 400px;
  }

}

@media screen and (max-width: 480px) { //below 480px
  header {
    aspect-ratio: 1.6/.7;
    background-position: right -210% bottom;
    background-size: 80%;

  }
}

//@media screen and (max-width: 465px) { //below 465px
//}
