// Global Styles Used in ALL Pages
@import '../_imports/global-variables';

@font-face { //Global //Only for Logo Name, NOT a complete font set
  font-family: bickley-script;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url('/css/fonts/BickleyScriptLET-Plain.woff2');
  font-display: swap;
}

h1 {font-size: 2.8em; font-weight: 700; margin: 0 0 1em;}
h2 {font-size: 1.6em; font-weight: 700; line-height: 1.1em; margin: 0 0 .5em; }
h3 {font-size: 1.3em; font-weight: 700; margin: 0 0 .5em; }
h4 {font-size: 1em; font-weight: 700; margin: 0 0 1.5em; }
h5 {font-size: .85em; font-weight: 700; margin: 0 0 .85em; }
p {margin: 0 0 1em;}

html { //Global
  //Simon: Clean Me: Delete this, moved to body for mmenu to work.
  //background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(159, 160, 159, .1) 25%, rgba(159, 160, 159, .1) 75%, rgba(0, 0, 0, .6)),
  //                  linear-gradient(45deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 75%, rgb(0, 0, 0)),
  //                  linear-gradient(45deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 75%, rgb(0, 0, 0)),
  //                  linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  //background-position: 0 0, 0 0, 5px 5px, 0 0;
  //background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
}

body { //Global
  background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(159, 160, 159, .1) 25%, rgba(159, 160, 159, .1) 75%, rgba(0, 0, 0, .6)),
  linear-gradient(45deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 75%, rgb(0, 0, 0)),
  linear-gradient(45deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 75%, rgb(0, 0, 0)),
  linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-position: 0 0, 0 0, 5px 5px, 0 0;
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  color: $color-body-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;

  h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin: 0 0 1em;
  }

  h2 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0 0 .5em;
  }

  h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 0 .5em;
  }

  h4 {
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 1.5em;
  }

  //p {
  //  margin: 0 0 1em;
  //}

  div#content { //Global //#page div
    background-color: $color-content-background;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100vh;
    padding-bottom: 1.5em; /* Simon: Note: CLose gap between content and footer */
    position: relative;
  }

  .buy-now-button { // <a> element.
    color: $color-body-text;  /* Simon: Todo: Move to _global-variables */
    margin-top: auto;
    text-decoration: none;

    &:hover {
      color: $navigation-hover;  /* Simon: Todo: Move to _global-variables */
    }

    > div{
      background-color: $color-buy-now-button-background;
      border-radius: 4px;

      &:hover {
        background-color: $color-buy-now-button-hover;
      }
    }
  }

}

header { //Global
  aspect-ratio: 1 / .4;
  /*Simon: Changed:*/
  //background: $color-header-background url('/images/company/vi_charger_mesh.svg') no-repeat right -10% bottom;
  background-color: $color-header-background;
  background-size: 49%;
  position: relative;

  a.logo {
    background: url('/images/company/vinyl-imagination-logo.svg') no-repeat 0 0;
    bottom: 28%;
    height: 40%;
    left: 50%;
    margin-left: -36.5%;
    position: absolute;
    text-decoration: none;
    width: 75%;

  }


  div.hero {
    bottom: 16%;
    color: $color-logo-accent;
    font-size: 4.2em;
    font-style: italic;
    font-weight: 700;
    left: 50%;
    line-height: 80%;
    margin-left: -28%;
    position: absolute;
    width: 57%;

    p {
      margin: 0;
    }
  }

  .hamburger, .shopcart {
    //background-color: $color-content-background;
    //border-radius: 2px;
    color: $color-logo-accent;
    cursor: pointer;
    padding: 4px 6px 0 5.5px;
    position: absolute;

  }
  .hamburger {
    margin: .5% 0 0 1.5%;
    width: 2em;
  }
  .shopcart {
    margin: .5% 1.5% 0 0;
    padding-bottom: 3.5px;
    padding-top: 5.5px;
    right: 0;
    width: 2.3em;
  }


} //Global

/* Footer */ /* Simon: Todo: This will be required for all pages */
@import 'footer';


//.change .bar1 {
//  transform: translate(0, 11px) rotate(-45deg);
//}
//
//.change .bar2 {opacity: 0;}
//
//.change .bar3 {
//  transform: translate(0, -11px) rotate(45deg);
//}






//@import '../_imports/mmenu'; /* Simon: Note: Not sure if this is the correct placement */
