//320px — 480px: Mobile devices
//481px — 768px: iPads, Tablets
//769px — 1024px: Small screens, laptops
//1025px — 1200px: Desktops, large screens
//1201px and more — Extra large screens, TV

@media screen and (max-width: 1400px) { //below 1400px
  html.mm-opened  .parent-container
  {max-width:100%; margin:0;}
  header {
    div.hero {
      font-size: 1.6vw;
    }
  }
}

@media screen and (max-width: 930px) { //below 930px
  header {
    background: #030303 url('/images/banner-charger-930px.png') no-repeat center bottom;
    background-size: cover;
    position: relative;
  }
}

@media screen and (max-width: 810px) { //below 810px
  /* Navigation */
  //nav.main {
  //  position: static;
  //  width: auto;
  //  padding: 20px 15px;
  //}

  //nav.main ul, nav.main ul ul, nav.main ul ul ul {
  //  display: block;
  //  position: static;
  //}

  //nav.main > ul { padding: 0; }
  //nav.main > ul > li {
  //  float: none;
  //  margin-top: 25px;
  //}

  //nav.main ul li:hover { background: none; }
  //nav.main ul li a {
  //  width: auto;
  //  display: block;
  //  margin: 8px 10px;
  //  padding: 8px 15px;
  //  border: 1px solid rgba(255, 255, 255, .25);
  //}

//  nav.main ul li a:hover { background-color: rgba(255, 255, 255, .2); }
}

@media screen and (max-width: 600px) { //below 600px
  header {
    background: #030303 url('/images/banner-charger-600px.png') no-repeat center bottom;
    background-size: cover;
    position: relative;
  }
}

@media screen and (max-width: 465px) { //below 465px
  header {
    background: #030303 url('/images/banner-charger-465px.png') no-repeat center bottom;
    background-size: cover;
    position: relative;
  }
}