//320px — 480px: Mobile devices
//481px — 768px: iPads, Tablets
//769px — 1024px: Small screens, laptops
//1025px — 1200px: Desktops, large screens
//1201px and more — Extra large screens, TV


@media screen and (max-width: 1000px) {
  section.pop-vehicles,
  section.new-products,
  section.featured-products  {
    > div {
      flex-basis: 29%;
    }

    .vehicle_4,
    .product_4 {
      display: none;
    }
  }
}


@media screen and (max-width: 600px) {

  section.pop-vehicles,
  section.new-products,
  section.featured-products {
    > div {
      flex-basis: 46%;
    }
    .vehicle_3,
    .product_3 {
      display: none;
    }
  }

    section.main {
      flex-direction: column;
      padding: 2em 0;

    > div {
      //flex: 1 0 100%;
      min-height: 7em;
      text-align: left;

      div.content {
        background-size: 25%;
        flex-direction: row;

        a {
          flex: 1;
          margin: 0;
        }

        div {
          flex: 2;
          margin: auto 0 auto 10%;
        }
      }

    }
  }

  section.information {
    aside {
      text-align: center;
    }
  }
}
