#Mod Rewrite
RewriteEngine on
RewriteBase /

#Error Pages
ErrorDocument 403 /pages/error-pages/403.php
ErrorDocument 404 /pages/error-pages/404.php

# css / js file versioning
RewriteRule ^(.*)\.[\d]{10}\.(css|js)$ $1.$2 [L]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#Caching schema
<FilesMatch "\.(css|svg|webp|png|jpg|jpeg|js|php|woff2)$">
    Header set Cache-Control "max-age=86400"
#    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

#Redirects
#Redirect 301/pages/faq/faq-main.php
#Redirect 301/pages/faq/faq-ordering.php
Redirect 301 /pages/faq/faq-shipping.php /pages/support/shipping-information.php
#Redirect 301/pages/faq/faq-custom-designs.php
#Redirect 301/pages/support/graphic-proof-emails.php
#Redirect 301/forms/Design_Request/Design_Request.php?sfm_sid=989
#Redirect 301/slideshowpro/images.php?album=28

Redirect 301 /pages/support/contact-us.php /pages/support/contact.php
Redirect 301 /pages/support/about-us.php /pages/support/about.php
Redirect 301 /pages/faq/faq-vinyl-material.php /pages/support/materials.php
Redirect 301 /pages/faq/faq-installation.php /pages/support/insurance.php
Redirect 301 /pages/faq/faq-returns.php /pages/support/return-policy.php

## Vehicle Manufacturer Redirects
Redirect 301 /Pages/Automotive/Manufacturer-Main.php?AutoMaker=Chevy /pages/automotive/automotive.php
Redirect 301 /pages/Automotive/Manufacturer-Main.php?automaker=chevy /pages/automotive/automotive.php
Redirect 301 /Pages/Automotive/Chevy-Main.php  /pages/automotive/automotive.php

## Vehicle Model Page Redirects

Redirect 301 /Pages/Automotive/Hyundai/Veloster/Veloster-2011-main.php /pages/automotive/vehicle-main.php?make=Hyundai&model=Veloster&year=2011
Redirect 301 /Pages/Automotive/Chevrolet/Camaro/Camaro-2014-Main.php /pages/automotive/vehicle-main.php?make=Chevy&model=Camaro&year=2014
Redirect 301 /Pages/Automotive/Chevrolet/Camaro/Camaro-2016-Main.php /pages/automotive/vehicle-main.php?make=Chevy&model=Camaro&year=2016
Redirect 301 /Pages/Automotive/Dodge/Durango/Durango-2k11-Main.php /pages/automotive/vehicle-main.php?make=Dodge&model=Durango&year=2011
Redirect 301 /Pages/Automotive/Dodge/Avenger/Avenger-2k8-Main.php /pages/automotive/vehicle-main.php?make=Dodge&model=Avenger&year=2008
Redirect 301 /Pages/Automotive/Dodge/Challenger/Challenger-1970-Main.php /pages/automotive/vehicle-main.php?make=Dodge&model=Challenger&year=1970

Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Chevy&Model=Camaro&Year=2010 /pages/automotive/vehicle-main.php?make=Chevy&model=Camaro&year=2010&years=2010%20to%202013
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Chevy&Model=Impala&Year=2013 /pages/automotive/vehicle-main.php?make=Chevy&model=Impala&year=2014&years=2014%20to%202020
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Chevy&Model=Malibu&Year=2013 /pages/automotive/vehicle-main.php?make=Chevy&model=Malibu&year=2013&years=2013%20to%202015
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Chevy&Model=Sonic&Year=2012 /pages/automotive/vehicle-main.php?make=Chevy&model=Sonic&year=2012&years=2012%20to%202020
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Chevy&Model=Spark&Year=2012 /pages/automotive/vehicle-main.php?make=Chevy&model=Spark&year=2012&years=2012%20to%202015
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Chevy&Model=Camaro&Year=2014 /pages/automotive/vehicle-main.php?make=Chevy&model=Camaro&year=2014&years=2014%20to%202015
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Dodge&Model=Charger&Year=2006 /pages/automotive/vehicle-main.php?make=Dodge&model=Charger&year=2006&years=2006%20to%202010
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Dodge&Model=Charger&Year=2006 /pages/automotive/vehicle-main.php?make=Dodge&model=Charger&year=2011&years=2011%20to%202014
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Dodge&Model=Avenger&Year=2008 /pages/automotive/vehicle-main.php?make=Dodge&model=Avenger&year=2008&years=2008%20to%202014
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Dodge&Model=Caliber&Year=2007 /pages/automotive/vehicle-main.php?make=Dodge&model=Caliber&year=2007&years=2007%20to%202012
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Dodge&Model=Challenger&Year=2008 /pages/automotive/vehicle-main.php?make=Dodge&model=Challenger&year=2008&years=2008%20to%202014
Redirect 301 /Pages/Automotive/Vehicle-Main.php?Make=Dodge&Model=Challenger&Year=2015 /pages/automotive/vehicle-main.php?make=Dodge&model=Challenger&year=2008&years=2015%20to%20Present


## Graphic Page Redirects
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Reverse-Side-Spear-Stripes.php /pages/automotive/ford/fusion/2k13/fusion-13-reverse-side-spear-stripes.php
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Forward-Side-Spear-Stripes.php /pages/automotive/ford/fusion/2k13/fusion-13-forward-side-spear-stripes.php
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Full-Length-Upper-Side-Stripes.php /pages/automotive/ford/fusion/2k13/fusion-13-full-length-upper-side-stripes.php
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Bonnet-Side-Stripes.php /pages/automotive/ford/fusion/2k13/fusion-13-hood-side-stripes.php
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Bonnet-Center-Stripes.php /pages/automotive/ford/fusion/2k13/fusion-13-hood-center-stripes.php
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Bonnet-Spear-Stripes.php  /pages/automotive/ford/fusion/2k13/fusion-13-hood-spear-stripes.php
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Rear-Quarter-Shark-Fin-Stripes.php /pages/automotive/ford/fusion/2k13/fusion-13-rear-quarter-shark-fin-stripes.php
Redirect 301 /Pages/Automotive/Ford/Mondeo/2k14/Mondeo-14-Full-Length-Light-to-Light-Mid-Side-Stripes.php /pages/automotive/ford/fusion/2k13/fusion-13-full-length-light-to-light-mid-side-stripes.php


Redirect 301 /Pages/Automotive/Dodge/Charger/Charger-2k15/Charger-15-Front-Door-Side%20Scallop-Stripes.php /pages/automotive/dodge/charger/charger-2k15/charger-15-front-door-side-scallop-stripes.php
Redirect 301 /Pages/Pages/Automotive/Chevrolet/Camaro/Camaro-2k14/Hood-Cowl-Spears-2k14.php /pages/automotive/chevrolet/camaro/camaro-2k14/hood-cowl-spears-2k14.php

Redirect 301 /Pages/Motorcycle/Motorcycle-Main.php /pages/motorcycle/motorcycle.php
Redirect 301 /Pages/Automotive/Chevrolet/Impala/Impala-2k13/Rear-Quarter-Stinger-Stripes.php /pages/automotive/chevrolet/impala/impala-2k14/rear-quarter-stinger-stripes.php
Redirect 301 /Pages/Automotive/Chevrolet/Impala/Impala-2k13/Hood-Scallop-Blackout-Decals.php /pages/automotive/chevrolet/impala/impala-2k14/hood-scallop-blackout-decals.php
Redirect 301 /Pages/Automotive/Chevrolet/Impala/Impala-2k13/Hood-Center-Stripes.php /pages/automotive/chevrolet/impala/impala-2k14/hood-center-stripes.php
Redirect 301 /Pages/Automotive/Chevrolet/Impala/Impala-2k13/Rear-Quarter-Hockey-Stinger-Stripes.php /pages/automotive/chevrolet/impala/impala-2k14/rear-quarter-hockey-stinger-stripes.php




#Simon: ToDo: CSP Need to add external sources (mmenu, google fonts, foxycart etc.)
#Header set Content-Security-Policy "default-src 'self'; img-src 'self'; style-src 'self' 'unsafe-hashes' https://fonts.googleapis.com/; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; script-src 'self' https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/9.3.0/mmenu.js https://cdn.foxycart.com https://ajax.googleapis.com"

#https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/9.3.0/mmenu.js
#https://fonts.googleapis.com
#https://fonts.gstatic.com
#https://cdn.foxycart.com/vinylimagination/loader.js
#https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js


##### Enable gzip compression for resources #Simon: Note: Test This
#<ifModule mod_gzip.c>
#    mod_gzip_on Yes
#    mod_gzip_dechunk Yes
#    mod_gzip_item_include file .(html?|txt|css|js|php)$
#    mod_gzip_item_include handler ^cgi-script$
#    mod_gzip_item_include mime ^text/.*
#    mod_gzip_item_include mime ^application/x-javascript.*
#    mod_gzip_item_exclude mime ^image/.*
#    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
#</ifModule>

