@import '_imports/global-variables';
//Simon: Todo: Merge this file with graphics.scss files
html { //Global
  scroll-padding-top: 100px;
}
@font-face {
  font-family: Square721BT-BoldExtended;
  src: url(fonts/Square721BT-BoldExtended.ttf);
}

section {

  &.graphic-look {
    background-color: $color-section-background;
    margin: 1%;
    padding: 1%;
    text-align: center;

    h2 {
      flex: 1 0 100%;
      font-size: 1.5em;
      margin: 1% 0 0;
      text-align: center;
    }


    img {
      width: 55%;
    }
  } //&.graphic-look

  &.graphic-designs {
    background-color: $color-section-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;

    h2 {
      flex: 1 0 100%;
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 1% 0 0;
      text-align: center;
    }

    div.design {
      align-items: end;
      background-color: $color-product-background;
      display: flex;
      flex-wrap: wrap;
      margin: 1%;
      padding: 1%;
      text-align: center;
      width: 98%;

      h3 {
        width: 98%;
        margin-left: auto; //Simon: Added:
        margin-right: auto; //Simon: Added:
      }

      div.image {
        flex: 1 0 45%; //Simon: Todo: remove and change to width for small screens
        margin-bottom: auto;
        margin-top: auto;
        width: 90%;

        img,
        svg {
          &.w {
            max-width: 450px;
            width: 90%; //Simon: Note: Removing this fucks Cumulative Layout Shift
          }

          &.v {
            max-height: 600px;
          }
        }

        svg {
          .textpath {fill: none;}
          .maincolor {fill: #B3B3B3;}
          .accentcolor {fill: #CC0D0B;}
          .accentcolor2 {fill: none;}
          .textcolor {fill: #f87d02;}
          .textpath2 {fill: none;}
          .textcolor2 {fill: #0052FF;}
          .textpath3 {fill: none;}
          .textcolor3 {fill: #f87d02;}

        }

        h3 {

        }
      }

      div.form {
        flex: 1 0 55%; //Simon: Todo: remove and change to width for small screens
        margin-bottom: auto; //Simon: Added:
        margin-top: auto; //Simon: Added:

        form {
          background-color: #505050; //Simon: Clean Me: Temporary
          display: flex;
          flex-wrap: wrap;
          padding-top: 1%; //Simon: Clean Me:

          div.vehicle-details, div.size-details {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto 1em;
            width: 96%;

            //select {
            //  width: 100%;
            //}

            h4 {
              flex: 1 0 100%;
              margin: 0 auto .5em;
            }

            .model-year {
              flex: 1; //Changed from .5
              margin: 0 2%;
            }

            .trim-level, .size-option {
              flex: 1.5;
              margin: 0 2%;
            }

            .car-color {
              flex: 1;
              margin: 0 2%;
            }
          }

          div.graphic-details {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto 1em;
            width: 96%;

            .stripe-1 {
              background: repeating-linear-gradient(
                45deg,
                #606dbc,
                #606dbc 10px,
                #465298 10px,
                #465298 20px
              );
            }

            h4 {
              flex: 1 0 100%;
              margin: 0 auto .5em;
            }

            .material, .trim-option {
              flex: 2 0 46%;
              margin: 0 2% 1%;
            }

            .brand {
              flex: 1 0 46%;
              margin: 0 2% 1%;
            }

            .main-color,
            .accent {
              flex: 1 0 68%;
              margin: 0 2% 1%;

              .text-option {
                flex-basis: 100%;

                input[type='text'] {
                  font-size: 1.5em;
                  font-weight: 500;
                  height: 27px;
                  margin-bottom: 1%;
                  text-align: center;
                  width: 98.5%;
                };

              }

            }

            .option-switch,
            .options {
              display: flex;
              flex-basis: 100%;
              flex-wrap: wrap;
              margin-bottom: 2%;

              div {
                //display: flex;
              }

              label {
                font-size: 1em;
                font-weight: 500;
                margin: auto 5px auto auto;
              }

              .text-option {
                flex-basis: 100%;
                margin: 0 2% 1%;

                div:first-child {
                  display: flex;
                  margin-bottom: 1%;
                }

                input[type='text'] {
                  font-size: 1em;
                  font-weight: 500;
                  height: 30px;
                  margin-bottom: 1%;
                  width: 99%;
                };

              }
            }

            input[type="checkbox"] {
              appearance: none;
              background: linear-gradient(0deg, #333, #000);
              background-size: 100% 100%, 200% 100%;
              border-radius: 25px;
              box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
              cursor: pointer;
              //height: 25px;
              margin-right: auto;
              //padding-right: 25px;
              padding-right: 4%;
              transition: .25s;
              //width: 75px;
              width: 10%;

              &:after {
                background-color: #eee;
                background-image: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .1));
                border-radius: 25px;
                box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
                inset 0 -1px 1px 1px hsla(0, 0%, 0%, .25),
                0 1px 3px 1px hsla(0, 0%, 0%, .5),
                0 0 2px hsla(0, 0%, 0%, .25);
                content: '';
                display: block;
                //height: 25px;
                //width: 50px;
                height: 100%;
                width: 100%;
              }

              &:checked {
                background: linear-gradient(0deg, $color-switch-on-a, $color-switch-on-b);
                box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);
                //padding-left: 25px;
                padding-left: 4%;
                padding-right: 0;
              }
            }

            //.trim-option {
            //  flex: 2 0 46%;
            //  margin: 0 2% 1%;
            //}

            .notes {
              flex: 1 0 95%;
              margin: 0 2% 0;
            }

            .select2-result-container {
              display: flex;
            }

          }

          > button {
            background-color: $color-product-button-background;
            border: $color-product-button-text 1px solid;
            color: $color-product-button-text;
            font-family: 'Exo', sans-serif;
            font-size: 1em;
            font-weight: 500;
            height: 3em;
            margin: 3% auto;
            width: 35%;

            &:hover {
              background-color: $color-product-button-hover;
            }
          }
        }

        .select2-container--disabled {
          .select2-selection--single,
          .select2-selection--multiple {
            border: unset;

          }

          .select2-selection__rendered,
          .select2-selection--multiple {
            background-color: #747474;
            border-radius: 4px;
            cursor: default;

            textarea {
              background-color: unset;
            }

          }

        }

        .select2-result-tile .color-same {
            mask-image: url('/images/icon_color_same.svg');
            mask-repeat: no-repeat;
        }

        .info-button {
          background-color: $color-product-button-background;
          border: $color-product-button-text 1px solid;
          color: $color-product-button-text;
          font-family: "Exo",sans-serif;
          font-size: 1em;
          font-weight: 500;
          height: 3em;
          margin: 3% auto;
          text-decoration: none;
          width: 35%;
        }

      }

    }

    /*.content {
      display: flex;
      flex: 1;
      flex-direction: column;

      div {
        padding: 1%;
        text-decoration: none;
      }

      span {
        font-weight: 700;
      }

      span:nth-of-type(2) {
        font-style: italic;
        font-weight: 400;
      }

    }*/

    /*h3 {
      font-size: .85em;
      font-weight: 700;
      margin: 0 0 auto;
      padding-bottom: 4%;
    }*/

    /*h3:nth-of-type(2) {
      font-size: .85em;
      font-weight: 700;
      margin: auto 0 0;
      padding-top: 4%;
    }*/

    /*img {
      margin: auto 0;
      padding-bottom: 5%;
      width: 100%;
    }*/

  } //&.graphic-designs



} //section

//
div.ac-item {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
  max-height: 150px;

  div.ac-image {
    height: 95%;
    width: 50%;

    >img {
      margin: auto;
      max-height: 100px;
    }
  }

  div.ac-phrase {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
  }
}



@import '_partials/global-media-queries';

@media screen and (max-width: 1050px) {
  header {
    div.slogan h1 {
      font-size: 2em;
    }
  }

  section {
    &.graphic-designs {
      h2 {

      }
    }

  }
}

@media screen and (max-width: 800px) {
  header {
    div.slogan h1 {
      font-size: 1.5em;
    }
  }

  section {
    &.graphic-designs {
      h2 {
        font-size: 1.4em;

        span:first-of-type {
          display: none;
        }
      }
    }

  }

}

@media screen and (max-width: 700px) {
  section {
    &.graphic-designs {
      h2 {
        font-size: 1.2em;

      }
    }

  }

}

@media screen and (max-width: 600px) {
  header {
    div.slogan h1 {
      font-size: 1em;
      margin-left: inherit;
      margin-right: inherit;
    }
  }

  section {
    &.graphic-designs {
      h2 {
        font-size: 1em;

      }

      div.image {
        flex: unset;
        width: 100%;
      }

      div.design div.form {
        flex: unset;
      }
    }

  }

  .main-color,
  .accent,
  .accent2,
  .text-option {
    width: 86.6vw;
  }

  section.graphic-designs div.design div.form form div.graphic-details .options .text-option input[type=text] {
    width: 97%;
  }
}

@media screen and (max-width: 500px) {
  section {
    &.graphic-designs {
      h2 {
        span:nth-child(2) {
          display: none;
        }
      }
    }
  }



}

@media screen and (max-width: 400px) {
  header {
    div.slogan h1 {
      font-size: .82em;
      margin-left: inherit;
      margin-right: inherit;
    }
  }

  section {

  }
}

@media screen and (max-width: 330px) {
  section {
    &.graphic-designs {
      div.form {
        flex: unset;
        width: 100%;
      }
    }
  }
}
