@font-face {
  font-family: Square721-Cn-Bold;
  src: url('fonts/Square-721-Bold-Condensed-BT.woff2');
}
@font-face {
  font-family: Square721BT-BoldExtended;
  src: url('fonts/Square721BT-BoldExtended.woff2');
}
@font-face {
  font-family: BankGothic-Md-BT;
  src: url('fonts/Bank-Gothic-Medium-BT.woff2');
}
@font-face {
  font-family: Ford-Mach-1-Regular;
  src: url('fonts/Ford-Mach-1-Regular.woff2');
}
@font-face {
  font-family: Ford-Bronco-Font-Main-Regular;
  src: url('fonts/Ford-Bronco-Font-Main-Regular.woff2');
}
@font-face {
  font-family: Ford-Bronco-Badlands-Regular;
  src: url('fonts/Ford-Bronco-Badlands-Regular.woff2');
}