// Global Styles Used in ALL Pages
@import '_imports/global-variables';

h1 {font-size: 2.8em; font-weight: 500; margin: 0 0 1em;} //Note: font-weight from 700 to 500
h2 {font-size: 1.6em; font-weight: 500; line-height: 1.1em; margin: 0 0 .5em; } //Note: font-weight from 700 to 500
h4 {font-size: 1em; font-weight: 500; margin: 0 0 1.5em; } //Note: font-weight from 700 to 500
h5 {font-size: .85em; font-weight: 500; margin: 0 0 .85em; } //Note: font-weight from 700 to 500
p {margin: 0 1% 1em;}

html { //Global
  scroll-padding-top: 70px;
}


body { //Global
  background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(159, 160, 159, .1) 25%, rgba(159, 160, 159, .1) 75%, rgba(0, 0, 0, .6)),
  linear-gradient(45deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 75%, rgb(0, 0, 0)),
  linear-gradient(45deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 75%, rgb(0, 0, 0)),
  linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-position: 0 0, 0 0, 5px 5px, 0 0;
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  color: $color-body-text;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;

  div#content { //Global //#page div
    background-color: $color-content-background;
    margin: 0 auto;
    max-width: 1400px;
    //min-height: 100vh; //Simon: Clean Me: Remove if unused is workable.
    padding-bottom: 1.5em;
    position: relative;
  }

  .buy-now-button,
  .shop-now-button,
  .contact-button,
  .claim-button { // <a> element.
    //margin-top: auto;
    text-decoration: none;

    > div {
      //background-color: $color-buy-now-button-background;
      background-color: $color-product-button-background;
      border: $color-product-button-text 1px solid;
      color: $color-product-button-text;
      margin: 0 auto;
      width: 65%;

      &:hover {
        background-color: $color-product-button-hover;
      }
    }
  }
}

header { //Global
  //aspect-ratio: 1 / .5;  //Simon: Clean Me: Remove if unused is workable.
  background-color: $color-header-background;
  display: flex;
  flex-direction: column;

  div.fixed-title {
    background: $color-header-background;
    display: flex;
    height: 3.6em;
    max-width: 1400px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .hamburger,
    .shopcart {
      color: $color-logo-main;
      cursor: pointer;
      display: none;
      padding: 4px 6px 0 5.5px;
      position: absolute;
    }

    .hamburger {
      margin: .5% 0 0 1.5%;

      img {
        aspect-ratio: 1/1.1428;
        width: 2em;
      }
    }

    a.mini-logo {
      height: 90%;
      margin: auto auto auto 1%;
      opacity: 0;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .menu-bar {
      color: $color-logo-main;
      font-size: 2em;
      font-weight: 400;
      margin: auto 1% auto auto;

      a {
        font-weight: 500;
        margin: 0 12px;
        text-decoration: none;

        &.on {
          border-bottom: $color-logo-accent solid 5px;
        }
      }

      a:link,
      a:visited {
        color: $color-logo-main;
      }

      a:active {
        color: $color-logo-accent; //#122cd0
      }

      a:hover {
        //background-color: $element-hover-background;
        border-bottom: $color-logo-accent solid 5px;
      }

    }

    .shopcart {
      margin: .5% 1.5% 0 0;
      padding-bottom: 3.5px;
      padding-top: 5.5px;
      right: 0;

      img {
        aspect-ratio: 1/.8886;
        width: 2.3em;

      }
    }
  }

  a.logo {
    aspect-ratio: 1/.212;
    background: url('/images/company/vi-logo.svg') no-repeat 0 0;
    margin: 6em auto 0;
    width: 90%;
  }

  div.slogan {
    color: $color-logo-accent;
    display: flex;
    flex: auto;
    flex-direction: column;
    font-style: italic;
    font-weight: 700;
    margin: auto;
    text-align: center;
    width: 95%;

    p {
      color: $color-logo-accent;
      font-size: 3em;
      margin: 1% auto;
    }

    h1 {
      //font-size: 1em;
      color: $color-logo-main;
      line-height: 1.1em;
      margin: auto auto 2%;
    }
  }

} //Global

// Footer - Required for all pages
@import '_partials/footer';
