@import '_partials/global';

// Index Specific
// Section All

// Section Main
section {
  padding: 0 1%;

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  &.pop-vehicles,
  &.new-products,
  &.featured-products {
    background-color: $color-section-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;

    h2 {
      flex: 1 0 100%;
      font-size: 1.5em;
      margin: 0 5%;
      text-align: center;
    }

    > div {
      background-color: $color-product-background;
      //flex: 0 1 calc(21% - 1px);
      display: flex;
      flex: 0 1 21%;
      margin: 1%;
      padding: 1%;
      text-align: center;
    }

    .content {
      display: flex;
      flex: 1;
      flex-direction: column;

      div {
        padding: 1%;
        text-decoration: none;
      }

      span {
        font-weight: 700;
      }
    }

    h3 {
      font-size: .85em;
      font-weight: 700;
      margin: 0 0 auto;
      padding-bottom: 4%;
    }

    h3:nth-of-type(2) {
      font-size: .85em;
      font-weight: 700;
      margin: auto 0 0;
      padding-top: 4%;
    }

    img {
      margin: auto 0;
      padding-bottom: 5%;
      width: 100%;

    }
  }

  &.main {
    display: flex;

    > div {
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: center;

      .content {
        background: no-repeat center top;
        background-size: 95%;
        display: flex;
        flex-direction: column;
        margin: 15px;
      }

      .automotive > a {;
        aspect-ratio: 1/.45;
        background: url('/images/icon_automotive.svg') no-repeat 0 0;
        margin: 0 auto 3%;
        width: 95%;
      }

      .motorcycle > a {
        aspect-ratio: 1/.7317;
        background: url('/images/icon_motorcycle.svg') no-repeat 0 0;
        margin: 0 auto 3%;
        width: 60%;
      }

      .trailer > a {
        aspect-ratio: 1/.47;
        background: url('/images/icon_trailer.svg') no-repeat 0 0;
        margin: 0 auto 3%;
        width: 95%;
      }

      h2,
      h3 {
        margin: 0;

        a {
          color: $color-logo-main;
          text-decoration: none;
        }
      }

      &:hover {
        background-color: $element-hover-background;
      }
    }

  }

  &.information,
  &.design {
    display: flex;
    flex-wrap: wrap;

    aside {
      background-color: $color-section-background;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 3%;
      padding: 1%;
      text-align: center;
    }

    h3 {
      flex: 1 0 100%;
      font-size: 1.7em;
    }

    div {
      margin-top: 1em;
      width: 25%;

      h4,
      p {
        margin: 0 auto 1em;
        width: 90%;
      }

      h4 {
        font-size: 1.2em;
      }

      p {
        border-top: $color-logo-accent 3px solid;
        padding-top: 1em;
      }
    }

    p a {
      font-weight: 700;

      &:link {
        color: $color-logo-main;
      }

      &:active {
        color: $color-logo-accent; //#122cd0
    }

      &:visited {
        color: darkorange;
      }
    }
  }


  &.design {
    background: url('/images/company/vi_charger_mesh.svg') no-repeat right -21% bottom 13%;
    background-size: 49%;
    position: relative;

    div p span {
      font-size: 1em;
      font-weight: 700;
    }

  }

}

/* Old Navigation */
//@import '_partials/navigation';
@import '_imports/mmenu'; /* Simon: Note: Not sure if this is the correct placement or in global.scss */


/* Media Queries */
@import '_partials/global-media-queries';
@import '_partials/index-media-queries';