//@import '_partials/global';
@import '_imports/global-variables';

// Index Specific
// Section All

// Section Main
section {
  padding: 0 1%;

  &::after {
    //clear: both;
    //content: '';
    //display: block;
  }

  &.pop-vehicles,
  &.new-products,
  &.featured-products {
    background-color: $color-section-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;

    h2 {
      flex: 1 0 100%;
      font-size: 1.5em;
      margin: 1% 0 0;
      text-align: center;
    }

    > div {
      background-color: $color-product-background;
      //flex: 0 1 calc(21% - 1px);
      display: flex;
      flex: 0 1 21%;
      margin: 1%;
      padding: 1%;
      text-align: center;
    }

    .content {
      display: flex;
      flex: 1;
      flex-direction: column;

      div {
        padding: 1%;
        text-decoration: none;
      }

      span {
        font-weight: 700;
      }

      span:nth-of-type(2) {
        font-style: italic;
        font-weight: 400;
      }

    }

    h3 {
      font-size: .85em;
      font-weight: 700;
      margin: 0 0 auto;
      padding-bottom: 4%;
    }

    h3:nth-of-type(2) {
      font-size: .85em;
      font-weight: 700;
      margin: auto 0 0;
      padding-top: 4%;
    }

    img {
      margin: auto 0;
      padding-bottom: 5%;
      width: 100%;

    }
  }

  &.main {
    display: flex;

    > div {
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: center;

      .content {
        background: no-repeat center top;
        background-size: 95%;
        display: flex;
        flex-direction: column;
        margin: 15px;
      }

      .automotive > a {;
        aspect-ratio: 1/.45;
        background: url('/images/icon_automotive.svg') no-repeat 0 0;
        margin: 0 auto 3%;
        width: 95%;
      }

      .motorcycle > a {
        aspect-ratio: 1/.7317;
        background: url('/images/icon_motorcycle.svg') no-repeat 0 0;
        margin: 0 auto 3%;
        width: 60%;
      }

      .trailer > a {
        aspect-ratio: 1/.47;
        background: url('/images/icon_trailer.svg') no-repeat 0 0;
        margin: 0 auto 3%;
        width: 95%;
      }

      h2,
      h3 {
        margin: 0;

        a {
          color: $color-logo-main;
          text-decoration: none;
        }
      }

      &:hover {
        background-color: $element-hover-background;
      }
    }

  }

  &.design {
    background: url('/images/company/vi_charger_mesh.svg') no-repeat right -21% bottom 13%;
    background-size: 49%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    aside {
      background-color: $color-section-background;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1%;
      text-align: center;
    }

    h3 {
      flex: 1 0 100%;
      font-size: 1.7em;
    }

    div > img {
      height: 4em;
      margin-bottom: 3%;
    }

    div {
      margin-top: 1em;
      width: 25%;

      h4,
      p {
        margin: 0 auto 1em;
        width: 90%;
      }

      h4 {
        font-size: 1.2em;
      }

      p {
        border-top: $color-logo-accent 3px solid;
        padding-top: 1em;

        span {
          font-size: 1em;
          font-weight: 700;
        }
      }

      p a {
        font-weight: 700;

        &:link {
          color: $color-logo-main;
        }

        &:active {
          color: $color-logo-accent; //#122cd0
        }

        &:visited {
          color: $color-info-link;
        }
      }
    }


  }
}

/* Old Navigation */
//@import '_partials/navigation';
/* Menu CSS */
//@import '_imports/mmenu'; /* Simon: Note: Not sure if this is the correct placement or in global.scss */


/* Media Queries */
@import '_partials/global-media-queries';
//@import '_partials/index-media-queries';

//320px — 480px: Mobile devices
//481px — 768px: iPads, Tablets
//769px — 1024px: Small screens, laptops
//1025px — 1200px: Desktops, large screens
//1201px and more — Extra large screens, TV

@media screen and (max-width: 1150px) {
  section.design div {
    width: 33.3%;
  }
}

@media screen and (max-width: 1000px) {

  section.pop-vehicles,
  section.new-products,
  section.featured-products {
    > div {
      flex-basis: 29%;
    }

    .vehicle-4,
    .product-4 {
      display: none;
    }
  }
}

@media screen and (max-width: 860px) {
  section.design div {
    width: 50%;
  }

}

@media screen and (max-width: 600px) {

  section.pop-vehicles,
  section.new-products,
  section.featured-products {

    > div {
      flex-basis: 46%;
      min-height: 200px;
    }

    .vehicle-3,
    .product-3 {
      display: none;
    }
  }

  section.main {
    flex-direction: column;
    padding: 2em 0;

    > div {
      flex: 1 0 100%;
      min-height: 7em;
      text-align: left;

      div.content {
        background-size: 25%;
        flex-direction: row;

        a {
          flex: 1;
          margin: 0;
        }

        div {
          flex: 2;
          margin: auto 0 auto 10%;
        }
      }

    }
  }

  section.design div {
    width: 100%;
  }

}

