//@import '_partials/global';
@import '_imports/global-variables';

section {
  margin: 1%;
  padding: 0 1%;

  > div.contacts,
  > div.insurance {
    background-color: $color-section-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    text-align: center;

    > h3 { // Hours
      flex: 1 0 100%;
      margin: 1%;
    }

    div {
      margin-top: 1%;

      h3 {
        border-bottom: $color-logo-accent 3px solid;
        padding-bottom: 1em;
      }

      h3,
      p,
      h4,
      h5 {
        margin: 0 auto 1em;
        width: 90%;
      }

      h4,
      h5 {
        margin-bottom: .5em;
      }

      h5 {
        color: $color-info-notice;
      }

      &.email img {
        height: 2.5em;
        padding: .75em;
      }

      ol {
        margin: auto;
        max-width: 800px;
        text-align: left;
        width: 80%;
      }

      .claim-button > div {
        max-width: 232px;
      }
    }

    a {
      div {
        margin-bottom: 3%;
      }

      span {
        font-weight: 600;
      }
    }

  } // > div.contacts, > div.insurance

  > div.insurance {
    img {
      flex: 1 0 100%;
      height: 6em;
      padding: .75em;
    }

    div {
      flex: 1 0 50%;

    }
  }

  > div.contacts {
    div { //Contact Method
      flex: 1 0 25%;

      img {
        height: 4em;
        margin-bottom: 3%;
      }
    }

  }


} // Section

/* Media Queries */
@import '_partials/global-media-queries';

@media screen and (max-width: 1060px) {
  section>div.contacts div {
    flex: 1 0 50%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 600px) {
  section>div.contacts div,
  section>div.insurance div {
    flex: 1 0 100%;
  }
}
