// Global Variables
$color-html-background: #0c0c0c;
$color-body-text: #fff;
$color-logo-main: rgb(18, 44, 208); //#122cd0
$color-logo-accent: rgb(179, 179, 179); //b3b3b3
$element-hover-background: rgba(106, 106, 106, .44);
$navigation-hover: rgb(106, 106, 106); //#6a6a6a
